*{
      margin: 0;
      box-sizing: border-box;
}
.heading{
     padding: 2rem 0;
}
.heading h1{
      text-align: center;
}

.image{
      background-color: thistle;
}
.flower__left{
      width: 33.33%;
      height: 100%;
      float: left;
}
.flower__right{
      width: 33.33%;
      height: 100%;
      float: right;
}
Marquee{
      padding: 2rem 0;
      text-align: center;
}
.pet__left{
      width: 25%;
      height: 100%;
      float: left;
}
.pet__right{
      width: 25%;
      height: 100%;
      float: right;

}

.bird__left{
      width: 50%;
      float: left;

}
.bird__right{
      width: 50%;
      float: right;

}
img{
      max-width: 100%;
      min-width: 100%;
      vertical-align: middle;
      padding:1%;
}

.block{
      transition: all 0.4s ease 0s;
      padding: 0;
      margin: 0;
}
.block:hover{
      cursor: pointer;
      transform: translateY(-10px);
      box-shadow: whitesmoke;
      box-shadow: 0 16px 32px 0 rgba(26, 11, 11, 0.5);
      border: 1px solid rgb(134, 132, 133);

}
